//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 10 20:10:25 2022
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

